In [3]:
import pandas as pd
import numpy as np


datos_ext='base_ini_externa.txt'
datos_int='base_ini_interna.csv'
datos_pt1='base_ini_parte1.csv'
datos_comp3='base_comportamiento_3.csv'
datos_comp2='base_comportamiento_2.txt'
datos_inicio='bd_inicio_parte1.txt'
datos_inv='base_inversion.txt'

b_comp3=pd.read_csv(datos_comp3)
b_comp2=pd.read_csv(datos_comp2,delimiter=' ')
b_inicio=pd.read_csv(datos_inicio,delimiter=' ')
b_int=pd.read_csv(datos_int)
b_ext=pd.read_csv(datos_ext,delimiter=' ')
b_pt1=pd.read_csv(datos_pt1)
b_inv=pd.read_csv(datos_inv,delimiter=' ')


print(b_comp3.head(2))
print(b_comp2.head(2))
print(b_inicio.head(2),'\n',b_int.head(2),'\n',b_ext.head(2),'\n',b_pt1.head(2),'\n',b_inv.head(2))

   num_caso      mes_informacion  comportamiento_j
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               0.0
   num_caso      mes_informacion  Tiempo_aparicion
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               1.0
    _id_  comp_interno4
0  78213           58.0
1  76457           45.0
     _id_ fecha_inicio  comp_interno1 comp_interno2  comp_interno3  \
0  78213   2020-03-25            0.0          b'0'           11.0
1  76457   2020-02-13            0.0          b'1'           28.0

   comp_interno4  categoria1  categoria2  categoria3
0           58.0         2.0         9.0       156.0
1           45.0         1.0         4.0       173.0
     _id_  comp_externo1  comp_externo2  comp_externo3  comp_externo4
0  78213     260.869565      25.854639           56.0         -230.0
1  76457      40.579710       2.872738           62.0         -230.0
     _id_    _id2_  comp_mixto1
0  78213  1798899      0.33522
1  76457  1758511      0.33334
      _id2_  inversion
0  1758511   0.041039
1  1572947  77.422135

In [6]:
merge_t = b_inicio.merge( b_int, on="_id_").merge(b_ext, on='_id_').merge(b_pt1, on='_id_').merge(b_inv,on='_id2_')

merge_t.head()

,_id_,comp_interno4_x,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4_y,categoria1,categoria2,categoria3,comp_externo1,comp_externo2,comp_externo3,comp_externo4,_id2_,comp_mixto1,inversion
0,76457,45.0,2020-02-13,0.000000,b'1',28.0,45.0,1.0,4.0,173.0,40.579710,2.872738,62.0,-230.0,1758511,0.33334,0.041039
1,68389,67.0,2019-07-30,2026.342452,b'1',1.0,67.0,2.0,9.0,146.0,276.811594,27.434645,125.0,-230.0,1572947,0.27318,77.422135
2,45732,70.0,2018-07-27,3546.099291,b'1',15.0,70.0,1.0,9.0,160.0,640.579710,63.487504,81.0,-230.0,1051836,0.32988,90.539953
3,53185,58.0,2018-09-07,759.878419,b'1',23.0,58.0,1.0,9.0,168.0,200.000000,19.821890,109.0,-230.0,1223255,0.37000,90.205018
4,82374,61.0,2020-06-24,0.000000,b'1',22.0,61.0,1.0,9.0,167.0,214.202899,21.229532,37.0,-230.0,1894602,0.31664,1.071354

In [7]:
tab=merge_t.dropna(how="any")
tab.head()

,_id_,comp_interno4_x,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4_y,categoria1,categoria2,categoria3,comp_externo1,comp_externo2,comp_externo3,comp_externo4,_id2_,comp_mixto1,inversion
0,76457,45.0,2020-02-13,0.000000,b'1',28.0,45.0,1.0,4.0,173.0,40.579710,2.872738,62.0,-230.0,1758511,0.33334,0.041039
1,68389,67.0,2019-07-30,2026.342452,b'1',1.0,67.0,2.0,9.0,146.0,276.811594,27.434645,125.0,-230.0,1572947,0.27318,77.422135
2,45732,70.0,2018-07-27,3546.099291,b'1',15.0,70.0,1.0,9.0,160.0,640.579710,63.487504,81.0,-230.0,1051836,0.32988,90.539953
3,53185,58.0,2018-09-07,759.878419,b'1',23.0,58.0,1.0,9.0,168.0,200.000000,19.821890,109.0,-230.0,1223255,0.37000,90.205018
4,82374,61.0,2020-06-24,0.000000,b'1',22.0,61.0,1.0,9.0,167.0,214.202899,21.229532,37.0,-230.0,1894602,0.31664,1.071354